.top-section{
    margin-bottom: 40px;
}




[class*="col"] {
    background-color: #006cfa;
    border: solid 1px white;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

[class*="col"] h1{
    color: white;
    font-size: 15px;
}

.row .nested{
    width: 100%;
    padding: 5px;
}


.box{
    width: 100%;
    height: 100%;
    background-color: #00e265;
    display: flex;
    justify-content: center;
    align-items: center;
}


.middle-section{
    margin-bottom: 40px;
}
